body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
     /* Should be removed. Only for demonstration */
}

label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}

#production {
    padding: 0.5em;
    background-color:#fff;
    margin: 1em 1;
}

#consumption {
    padding: 0.5em;
    background-color:#fff;
    margin: 1em 1;
}

#energyState {
    padding: 0.5em;
    background-color:#fff;
    margin: 1em 1;
}

#capacity {
    padding: 0.5em;
    background-color:#fff;
    margin: 1em 1;
}

#capacityLoad {
    padding: 0.5em;
    background-color:#fff;
    margin: 1em 1;
}

#overgeneration {
    padding: 0.5em;
    background-color:#fff;
    margin: 1em 1;
}

#energyLack {
    padding: 0.5em;
    background-color:#fff;
    margin: 1em 1;
}

#loader {
    width: 100px;
    display:none;
}
